# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Playwright
frontend/playwright-report/
frontend/test-results/
test-results/
playwright-report/

# IDE
.vscode/
.idea/

# Models
models/
